.header-bg {
  background-image: url(../img/desktop/image-hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 50px;
}

.header-container nav > a {
  z-index: 10;
}

.header-container nav {
  display: flex;
  justify-content: space-between;
}

.btn-menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.drop-down {
  display: flex;
  gap: 30px;
}

.drop-down li a {
  font-size: 1.5rem;
}

.drop-down.on {
  visibility: visible;
  display: flex;
  background-color: black;
  position: absolute;
  height: calc(100vh - 120px);
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 120px;
  justify-content: center;
}

.header__title {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 500px;
  border: 3px solid #fff;
  padding: 30px;
}

.header__title span {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .btn-menu {
    display: block;
  }

  .drop-down {
    visibility: hidden;
    display: none;
  }

  .header__title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 150px auto 150px auto;
  }

  .header__title span {
    font-size: 3rem;
  }
}

@media (max-width: 590px) {
  .header-container {
    padding: 30px 20px;
  }

  .header__title span {
    font-size: 2.3rem;
  }

  .header-container .drop-down.on {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .drop-down li a {
    font-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  .header__title span {
    font-size: 1.8rem;
  }
}
